
.page{ 
    display: flex;
    justify-content: center;
}
.container{
    width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background: linear-gradient(0deg,rgba(34, 42, 54, 1) 80%, rgb(255, 191, 0, 1) 20%);

}
.imagecontainer{
    width: 60%;
    height: 24%;
    background-color: aliceblue ;
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(255, 191, 0);
}
.profilepicture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.rightcontainer{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}